body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
}

code,
pre {
  font: inherit;
}

p,
ul,
ol,
fieldset {
  margin: 0;
  padding: 0;
}

[role="list"] {
  list-style: none;
}

fieldset {
  border: none;
}
